/*
  But :    Css principale de mon projet 
  Auteur : Eldi Kabashi
  Date :   14.06.2023 / V1.0
*/

header{
  display: flex;
  justify-content: space-between;
  background-color: #002244;
  align-items: center;
  border-bottom: solid;
  margin-bottom: 10px;
  
}
footer{
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
  background-color: #002244;
  border-top: solid;
}
footer > *{
  margin: 10px;
}
body{
  background-color: #00416A;
}
div{
  color: white;
}

