<header>
  <div>Jeux Gratuits</div>
</header>
<hr>
<div class="contenu">
  <div class="infos">
    <p class="titreJeu">Titre</p>
    <p class="descriptionJeu">Description</p>
    <p class="genreJeu">Genre</p>
    <p class="plateformeJeu"> Plateforme</p>
    <p class="developpeursJeu">Developpeurs</p>
    <p class="datesortieJeu">Date de sortie</p>
  </div>
  <div class="image">
    <img src="" alt="">
  </div>
</div>
<hr>
<footer>
  <div>Eldi Kabashi</div>
  <div>Bureau des developpeurs</div>
  <div>300223</div>
</footer>