<header>
  <h1>
    Jeux Gratuits
  </h1>
  <div>
  <div> 
    <select name="Genre" id="cmboxGenre">
    </select>
  </div>
  <div>
    <select name="Plateforme" id="cmboxPlateforme">
    </select>
  </div>
  <input type="button" value="Loupe" id="buttonFiltreJeu">
</div>
<div>
      <input type="text" name="nomJeu" id="textfNomJeu" placeholder="nom">
      <input type="button" value="Loupe" id="buttonNomJeu">
    </div>
  </div>
</header>

  <div id="jeux">
    
  </div>

  <footer>
    <div>Eldi Kabashi</div>
    <button id="ouvrirCarte">Bureau des developpeurs</button>
    <div>300223</div>
  </footer>