<header>
  <div>
    Jeux Gratuits
  </div>
  <form>
  <div> 
    <select name="Genre" id="cmboxGenre">
    </select>
  </div>
  <div>
    <select name="Plateforme" id="cmboxPlateforme">
    </select>
  </div>
  <input type="button" value="Loupe" id="buttonFiltreJeu">
  </form>
    <form>
      <input type="text" name="nomJeu" id="textfNomJeu" placeholder="nom">
      <input type="button" value="Loupe" id="buttonNomJeu">
    </form>
  </div>
  <hr>
  <div id="jeux">
    
  </div>
  <hr>
  <footer>
    <div>Eldi Kabashi</div>
    <button id="ouvrirCarte">Bureau des developpeurs</button>
    <div>300223</div>
  </footer>
</header>